.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px !important;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav div {
    float: left;
    padding-top: 12px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav h4 {
    display: inline;
  }

  .topnav img {
    height: 26px;
    overflow: hidden;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.topnav .search-container {
  padding-left: 7% !important;
}

.topnav input[type=text] {
  width: 55vw !important;
  padding: 6px;
  /* margin-top: 12px; */
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px !important;
  margin-right: 16px !important;
  /* margin-top: 12px; */
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}